*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: rgb(57, 120, 255);
    text-decoration:none;
}

a:hover{
    color: rgb(16, 92, 255);
    text-decoration:underline;
}
.menu__links a{
    color: rgb(255, 255, 255);
    padding: 1.2rem;
    display:block;
    
}
.menu__links{
    list-style:none;
    display: flex;
}

html {
    font-size:62.5%;
}

body {
    font-size: 1.6rem;
    background: #f1f1f1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.content {
    display:grid;
    gap: 1.5rem;
    padding: 1.5rem;
}


.post {
    background-color: #fff;
    padding: 1.2rem;
    box-shadow: 5px 2px 5px rgba(0,0,0,10%)
}

.menu{
    background:#000;
    padding: 1.2rem;
}

@media (min-width: 600px) {
  .content:not(:has(.single-post)) {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }
}